{% extends "base.html" %}

{% block content %}

<div class="conteiner">

<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">{{ question.title }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-9">
		<p class="text-justify">{{ question.details }}</p>
	</div>
	{% if user == question.owner %}
	<div class="col-xs-1 text-right">
		<a class="btn" href="{% url 'questions:update' question.pk %}"> Update</a>
		<form action="{% url 'questions:delete' question.pk %}" method="POST">
			{% csrf_token %}
			<input class="btn" type="submit" value="Delete"/>
		</form>
	</div>
	{% endif %}
</div>
<div class="row">
	<div class="col-xs-12">
		<p class="text-right"><small>Owner: {{ question.owner }}</small></p>
	</div>
</div>

{% for comment in comments %}
	<div class="row">
		<div class="col-xs-offset-1 col-xs-8">
			<p class="text-left">{{ comment }} :-- {{ comment.owner }}</p>
		</div>
		{% if user == comment.owner %}
		<div class="col-xs-3">
			<form action="{% url 'questions:delete_comment' comment.pk %}" method="POST">
				{% csrf_token %}
				<input class="btn btn-sm" type="submit" value="delete" />
			</form>
		</div>
		{% endif %}
	</div>
{% endfor %}

{% if user.is_authenticated %}
<div class="row">
	{# BAD HARDcODED FORM #}
	<div class="col-xs-offset-1 col-xs-8">
	<form action="{% url 'questions:add_question_comment' question.pk %}" method="POST">
		{% csrf_token %}
		<input type="textarea" name="text"/>
		<input class="btn btn-primary" type="submit" value="Add comment"/>
	</form>
	</div>
</div>
{% endif %}

<h2>Answers</h2>

<ul>
{% for answer in answers %}
<li>{{ answer.text }} </li>
<ul>
{% for comment in answer.comments.all %}
<li>
	{{ comment }} :-- {{ comment.owner }}
	{% if user == comment.owner %}
	<form action="{% url 'questions:delete_comment' comment.pk %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="delete" />
	</form>
	{% endif %}
</li>
{% endfor %}

{% if user.is_authenticated %}
<li>
	{# BAD HARDcODED FORM #}
	<form action="{% url 'questions:add_answer_comment' answer.pk %}" method="POST">
		{% csrf_token %}
		<input type="textarea" name="text"/>
		<input type="submit" value="Add comment"/>
	</form>
</li>
{% endif %}
</ul>

{% endfor %}
</ul>

{% if user.is_authenticated %}

<h3>Add your answer</h3>

<form action="" method="POST">
{% csrf_token %}
{{ answer_form.as_p }}
<input type='submit' value='Add answer'/>
</form>

{% endif %}
</div>


</div>
{% endblock content %}
