{% extends "base.html" %}

{% block content %}


<h1>{{ question.title }}</h1>
<h2>Current url {{ request.path }}</h2>
<p>{{ question.details }}</p>
<p>Owner: {{ question.owner }}</p>

{% if user == question.owner %}

<a href="{% url 'questions:update' question.pk %}"> Update</a>
<br/>
<br/>
<form action="{% url 'questions:delete' question.pk %}" method="POST">
	{% csrf_token %}
	<input type="submit" value="Delete"/>
</form>

{% endif %}
<ul>
{% for comment in comments %}
<li>
	{{ comment }} :-- {{ comment.owner }}
	{% if user == comment.owner %}
	<form action="{% url 'questions:delete_comment' comment.pk %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="delete" />
	</form>
	{% endif %}
</li>
{% endfor %}

{% if user.is_authenticated %}
<li>
	{# BAD HARDcODED FORM #}
	<form action="{% url 'questions:add_question_comment' question.pk %}" method="POST">
		{% csrf_token %}
		<input type="textarea" name="text"/>
		<input type="submit" value="Add comment"/>
	</form>
</li>
{% endif %}
</ul>

<h2>Answers</h2>

<ul>
{% for answer in answers %}
<li>{{ answer.text }} </li>
<ul>
{% for comment in answer.comments.all %}
<li>
	{{ comment }} :-- {{ comment.owner }}
	{% if user == comment.owner %}
	<form action="{% url 'questions:delete_comment' comment.pk %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="delete" />
	</form>
	{% endif %}
</li>
{% endfor %}

{% if user.is_authenticated %}
<li>
	{# BAD HARDcODED FORM #}
	<form action="{% url 'questions:add_answer_comment' answer.pk %}" method="POST">
		{% csrf_token %}
		<input type="textarea" name="text"/>
		<input type="submit" value="Add comment"/>
	</form>
</li>
{% endif %}
</ul>

{% endfor %}
</ul>

{% if user.is_authenticated %}

<h3>Add your answer</h3>

<form action="" method="POST">
{% csrf_token %}
{{ answer_form.as_p }}
<input type='submit' value='Add answer'/>
</form>

{% endif %}


{% endblock content %}
